
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&family=Montserrat:wght@200;300;400&family=Poppins:wght@200;300;400&family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(63, 63, 248);
}